
.main {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 15%;
}

.content {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.games {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.research {
    width: 20%; 
    display: flex;
    justify-content: flex-end; 
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 15px;
    margin-bottom: 30px;
    color: #93acda67;
    font-weight: 400;
}

.gamesWrapper {
    column-count: 6;
    gap: 5px;
    margin-top: 5px;
}

.gameCard {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.gameCard:hover {
    transform: scale(0.98);
}

.gameImage {
    width: 100%;
    height: 120px;
    border-radius: 8px;
    object-fit: cover;
}

.category {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    color: #3F79E6;
    padding: 8px 0;
}

.gameRead, p {
    color: #93acda94;
    font-weight: 600;
    text-decoration: none;
    display: block;
    font-size: 13px;
    margin-bottom: 0;
    justify-content: end;
}

.details {
    color: #FFFFFF;
    font-size: 12px;
}

.detailsTitle {
    color: #3F79E6;
    font-size: 13px;
    font-weight: 700;
}

.gameTitle {
    font-weight: 700;
    color: #FFFFFF;
    padding-bottom: 5px;
    font-size: 1rem;
}

.scroll {
    height: 300px;
    overflow-y: scroll;  
    border-radius: 8px; 
    padding: 10px;    
}

.scroll::-webkit-scrollbar {
    width: 5px; 
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #333C4E;  
    border-radius: 4px; 
}

.scroll::-webkit-scrollbar-track {
    background: #333c4e48; 
    border-radius: 4px;  
}

.filters{
    font-weight: 700 !important;
    color: aquamarine;
}

@media (max-width: 1200px) {
    .gamesWrapper {
        justify-content: space-around;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 10px;
    }
}

@media (max-width: 992px) {
    .gamesWrapper {
        justify-content: center;
    }
    .gameCard {
        max-width: 200px;
    }
}

@media (max-width: 768px) {
    .gamesWrapper {
        gap: 0.8rem;
    }
    .gameCard {
        max-width: 180px;
    }
    .gameImage {
        height: 100px;
    }
}

@media (max-width: 480px) {
    .gamesWrapper {
        flex-direction: column;
        align-items: center;
    }
    .gameCard {
        max-width: 90%;
    }
    .gameImage {
        height: 150px;
    }
}
