.main {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 15%;
}

.content {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.games {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.research {
    width: 20%;
    display: flex;
    justify-content: flex-start;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 15px;
    margin-bottom: 30px;
    color: #93acda67;
    font-weight: 400;
}

.gamesWrapper {
    column-count: 6;
    gap: 5px;
    margin-top: 5px;
}

.gameCard {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.gameCard:hover {
    transform: scale(0.98);
}

.gameImage {
    width: 100%;
    height: 120px;
    border-radius: 8px;
    object-fit: cover;
}

.category {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    color: #0073e6;
    padding: 8px 0;
}

.genre {
    color: #0073e6;
    text-decoration: none;
}

.gameRead, p {
    color: #93acda94;
    font-weight: 600;
    text-decoration: none;
    display: block;
    font-size: 13px;
    margin-bottom: 0;
    justify-content: end;
}

.details {
    color: #FFFFFF;
    font-size: 12px;
}

.detailsTitle {
    color: #0073e6;
    font-size: 13px;
    font-weight: 700;
}

.gameTitle {
    font-weight: 700;
    color: #FFFFFF;
    padding-bottom: 5px;
    font-size: 1rem;
}

.drop {
    display: flex;
    align-items: baseline;
    gap: 10px;
    color: #FFFFFF;
}

.drop {
    display: flex;
    align-items: baseline;
    gap: 10px;
    color: #0073e6;
}

.section {
    font-size: 20px;
    color: #0073e6;
    margin-bottom: 15px;
    margin-top: 20px;
}

.links {
    text-decoration: none;
    color: #3D475C;
    padding-top: 5px;
    font-size: 18px;
    padding-left: 30px;
}

.links:hover {
    color: #FFFFFF;
}

.list {
    padding: 0;
    margin: 0;
}

.item {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    gap: 15px;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul:first-child {
    font-size: 30px;
    color: white;
}

.headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
}

.navLeft {
    list-style: none;
}

.navRight {
    list-style: none;
    display: flex;
    gap: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownToggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px;
    color: #fff;
    border: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.dropdownToggle:hover {
    color: #005ce6;
}

.dropdownMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #202632;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    min-width: 150px;
    list-style: none;
    margin: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dropdown[open] .dropdownMenu {
    display: block;
    opacity: 1;
    visibility: visible;
}

.dropdownItem {
    padding: 8px 15px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px; 
    transition: background-color 0.3s ease;
    width: 100%;
}

.dropdownItem:hover {
    background-color: #005ce6;
    color: white;
}

.dropdownItem svg {
    flex-shrink: 0;
}

.dropdownItem + .dropdownItem {
    margin-top: 5px;
}

.contrast{
    color: #fff;
}

.contrast:hover{
    color: #0073e6;
    text-decoration-color: #0073e6;
}

@media (max-width: 1200px) {
    .gamesWrapper {
        justify-content: space-around;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 10px;
    }
}

@media (max-width: 992px) {
    .gamesWrapper {
        justify-content: center;
    }
    .gameCard {
        max-width: 200px;
    }
}

@media (max-width: 768px) {
    .gamesWrapper {
        gap: 0.8rem;
    }
    .gameCard {
        max-width: 180px;
    }
    .gameImage {
        height: 100px;
    }
}

@media (max-width: 480px) {
    .gamesWrapper {
        flex-direction: column;
        align-items: center;
    }
    .gameCard {
        max-width: 90%;
    }
    .gameImage {
        height: 150px;
    }
}
