
.main {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 15%;
}

.content {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.games {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.research {
    width: 20%; 
    display: flex;
    justify-content: flex-start; 
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 15px;
    margin-bottom: 30px;
    color: #93acda67;
    font-weight: 400;
}

.gamesWrapper {
    column-count: 6;
    gap: 5px;
    margin-top: 5px;
}

.gameCard {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.gameCard:hover {
    transform: scale(0.98);
}

.gameImage {
    width: 100%;
    height: 120px;
    border-radius: 8px;
    object-fit: cover;
}

.category {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    color: #afc7ff;
    padding: 8px 0;
}

.genre{
    color: #afc7ff;
    text-decoration: none;
}

.gameRead, p {
    color: #93acda94;
    font-weight: 600;
    text-decoration: none;
    display: block;
    font-size: 13px;
    margin-bottom: 0;
    justify-content: end;
}

.details {
    color: #FFFFFF;
    font-size: 12px;
}

.detailsTitle {
    color: #afc7ff;
    font-size: 13px;
    font-weight: 700;
}

.gameTitle {
    font-weight: 700;
    color: #FFFFFF;
    padding-bottom: 5px;
    font-size: 1rem;
}

.drop{
    display: flex;
    align-items: baseline;
    gap: 10px;
    color: #FFFFFF;
}

.drop {
    display: flex;
    align-items: baseline;
    gap: 10px;
    color: #afc7ff;
}

.section {
    font-size: 20px;
    color: #afc7ff;
    margin-bottom: 15px;
    margin-top: 20px;
}

.links {
    text-decoration: none;
    color: #3D475C;
    padding-top: 5px;
    font-size: 18px;
    padding-left: 30px;
}

.links:hover {
    color: #FFFFFF;
}

.list{
    padding: 0;
    margin: 0
}

.item{
    padding: 0;
    margin: 0;
}

@media (max-width: 1200px) {
    .gamesWrapper {
        justify-content: space-around;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 10px;
    }
}

@media (max-width: 992px) {
    .gamesWrapper {
        justify-content: center;
    }
    .gameCard {
        max-width: 200px;
    }
}

@media (max-width: 768px) {
    .gamesWrapper {
        gap: 0.8rem;
    }
    .gameCard {
        max-width: 180px;
    }
    .gameImage {
        height: 100px;
    }
}

@media (max-width: 480px) {
    .gamesWrapper {
        flex-direction: column;
        align-items: center;
    }
    .gameCard {
        max-width: 90%;
    }
    .gameImage {
        height: 150px;
    }
}
