.gameImageWrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gameImage {
    width: 100%;
    object-fit: cover;
    opacity: 0.3;
    transition: opacity 0.3s ease;
}

.gameImage:hover {
    opacity: 0.5;
}

.gameTitle {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    z-index: 10;
    max-width: 100%;
    padding-left: 30px;
}

.gameAttributes {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.gameLeftColumn,
.gameRightColumn {
    display: flex;
    flex-direction: column;
}

.attribute {
    margin: 10px 0;
}

.releaseDate,
.genres,
.platforms,
.metacritic,
.description {
    margin: 15px 0;
    font-size: 18px;
}
.about {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 35px;
    font-weight: 700;
    color: #0073e6;
}

.releaseDate,
.metacritic {
    font-weight: 500;
}

.genres {
    font-weight: 400;
    color: #555;
}

.platforms {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 10px;
    size: 400px;
}

.platformItem {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 400;
    color: #444;
    padding: 5px 10px;
    border-radius: 20px;
    color: #fff;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.platformItem:hover {
    color: #fff;
    background-color: #0073e6;
}

.platformItem svg {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}

.platformItem svg:hover {
    transform: scale(1.1);
}

.metacritic {
    font-size: 20px;
    font-weight: 700;
    color: #ff6f61;
}

.description {
    color: #ffffffc9;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
}

.screenshotsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.mainImageWrapper {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin-bottom: 0;
    clear: both;
}

.mainScreenshot {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.screenshotGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 800px;
}

.screenshotItem {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.screenshotSmall {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.available{
    color: #fff;
    font-size: 20px;
    padding-right: 5px;
    margin-bottom: 0;
}

.gameTitle {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    z-index: 10;
    max-width: 100%;
    padding-left: 30px;
}

.gameGenres {
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}

.gameGenres .available {
    font-weight: bold;
}

.gameGenres a {
    color: #0073e6;
    text-decoration: none;
    font-weight: 500;
    margin-right: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.gameGenres a:hover {
    color: #5da8f3;
    text-decoration: underline;
}

.gameGenres .genreLink {
    display: inline;
}

.userActions {
    display: flex;   
    align-items: center; 
    gap: 15px; 
}

.IconsLink {
    text-decoration: none; 
    margin-top: 25px;
    font-size: 15px;
    color: #ffffff88;
    display: flex; 
    align-items: center; 
}

.IconsLink:hover{
    color: #0073e6; 
}

.IconsLink svg {
    margin-right: 8px; 
    font-size: 20px;
}

.IconsLink:first-of-type {
    margin-left: 30px;
}

.commentsSection {
    margin-top: 15px;
    /* border-top: solid white; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.commentBox {
    background-color: #202632; 
    max-width: 250px;
    padding: 20px; 
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 20px; 
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    flex-direction: column;  
    justify-content: center;
    align-items: center;    
}

.commentContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.commentContent h6 {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
}

.commentContent p {
    color: #A5A8B8;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin: 8px 0;
}

.commentContent p:last-child {
    font-style: italic;
    color: #48536B;
    font-weight: 500;
    font-size: 13.6px;
}

.Rating {
    display: inline-block;
    margin-left: 10px; 
    vertical-align: middle;
}

.starRating {
    margin-top: 28px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.starIcon {
    cursor: pointer;
    padding-right: 5px;
    font-size: 26px;
    transition: color 0.3s ease;
}

.emptyStar {
    color: #ccc;
}

.filledStar {
    color: #FFD700; 
}

.starIcon.saved {
    color: #FFD700; 
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin-top: 10px;
    max-height: 500px;
    overflow-y: auto;
    background: #12151c !important;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    scrollbar-width: thin;
    scrollbar-color: #0078ff transparent;
}

.chat_message {
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
    border-radius: 10px;
    max-width: 75%;
    font-size: 14px;
    line-height: 1.4;
    word-wrap: break-word;
    position: relative;
}

.received_message {
    align-self: flex-start;
    background: #2a2e3a !important;
    color: white !important;
    border-bottom-left-radius: 4px;
}

.chat_username {
    font-weight: 600;
    font-size: 15px;
    color: #0066cc;
    margin-bottom: 5px;
}

.timestamps {
    font-size: 12px;
    opacity: 0.6;
    color: #a0a0a0;
    margin-top: 5px;
    font-weight: 400;
    align-self: flex-end;
    text-align: right;
}

.message{
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

.message_form_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #12151c !important;
    border-radius: 8px;
    position: sticky;
    bottom: 0;
    width: 100%;
}

form {
    display: flex;
    width: 100%;
    gap: 6px;
}

input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: none !important;
    border-radius: 6px;
    font-size: 14px;
    background: #1d212a !important;
    color: #ffffff !important;
    outline: none !important;
}

.sendBtn {
    padding: 8px 20px;
    border: none !important;
    border-radius: 6px;
    background: #0078ff !important;
    color: white !important;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.sendBtn:hover {
    background: #0066cc !important;
}
