.gameImageWrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gameImage {
    width: 100%;
    object-fit: cover;
    opacity: 0.3;
    transition: opacity 0.3s ease;
}

.gameImage:hover {
    opacity: 0.5;
}

.gameTitle {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    z-index: 10;
    max-width: 100%;
    padding-left: 30px;
}

.gameAttributes {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.gameLeftColumn,
.gameRightColumn {
    display: flex;
    flex-direction: column;
}

.attribute {
    margin: 10px 0;
}

.releaseDate,
.genres,
.platforms,
.metacritic,
.description {
    margin: 15px 0;
    font-size: 18px;
}
.about {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 35px;
    font-weight: 700;
    color: #0073e6;
}

.releaseDate,
.metacritic {
    font-weight: 500;
}

.genres {
    font-weight: 400;
    color: #555;
}

.platforms {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 10px;
    size: 400px;
}

.platformItem {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 400;
    color: #444;
    padding: 5px 10px;
    border-radius: 20px;
    color: #fff;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.platformItem:hover {
    color: #fff;
    background-color: #0073e6;
}

.platformItem svg {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}

.platformItem svg:hover {
    transform: scale(1.1);
}

.metacritic {
    font-size: 20px;
    font-weight: 700;
    color: #ff6f61;
}

.description {
    color: #ffffffc9;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
}

.screenshotsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.mainImageWrapper {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin-bottom: 0;
    clear: both;
}

.mainScreenshot {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.screenshotGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 800px;
}

.screenshotItem {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.screenshotSmall {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.available{
    color: #fff;
    font-size: 20px;
    padding-right: 5px;
    margin-bottom: 0;
}

.gameTitle {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    z-index: 10;
    max-width: 100%;
    padding-left: 30px;
}

.gameGenres {
    display: block;
    margin-top: 15px;
    font-size: 20px;
}

.gameGenres .available {
    font-weight: bold;
}

.gameGenres a {
    color: #0073e6;
    text-decoration: none;
    font-weight: 500;
    margin-right: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.gameGenres a:hover {
    color: #5da8f3;
    text-decoration: underline;
}

.gameGenres .genreLink {
    display: inline;
}
